<div id="pics" class="transitions-enabled">
  <% @pics.each do |pic| %>
    <div class="box panel panel-default">
      
        <%= link_to image_tag(pic.image.url(:medium)), pic %><br/>
          <% if pic.user == current_user %>
            <div class="panel-footer">
              <%= link_to 'Edytuj', edit_pic_path(pic) %><br/>
              <%= link_to 'Usuń', pic, method: :delete, data: { confirm: 'Jesteś pewien?' } %><br/>
            </div>
        <% end %>
      
    </div>
  <% end %>
</div>
<div class="center">
  <%= will_paginate @pics, renderer: BootstrapPagination::Rails %>
</div>